/*{border: 1px solid #FF0000}/
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Romanesco&display=swap');

*/ 

body{
    margin: 0px;
    background-color: #B8EBF6;

}


header h1{
    margin: 0px;
    text-align: center;
    background-color: #01133F;
    color: #FFFFFF;
    font-family: 'Inter', sans-serif;

    
}

#container-text-area{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

#container-text-area textarea{
    width: 260px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    border: 1px solid #FFFFFF;
    border-radius: 0px 7px;
    

    
}


#container-buttons{
    display: flex;
    align-items: center;
    justify-content: center;

}

#container-buttons button{
    color: #FFFFFF;
    font-family: 'Inter', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    padding: 10px;
    border: 1px solid #FFFFFF;
    border-radius: 10px;
    background-color: #01133F;
}

#container-buttons button:hover{
    
    background-color: #02C8F0;
}
